@{
  Layout = "_Layout";
}

<h1>Welcome to your local doctor's office!</h1>
<p>@Html.ActionLink("See all patients", "Index", "Patients")</p>
<p>@Html.ActionLink("See all specialties", "Index", "Specialties")</p>
@* <p>@Html.ActionLink("See all doctors", "Index", "Doctors")</p> *@
